/* Global Styling */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.homepage-container {
  animation: fadeInUp 1s ease-out forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
}

.homepage-container {
  width: 1500px;
  margin-top: 280px;
  margin-bottom:40px;
}

/* Header Styling */
.header {
  background-color: #005792;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Grid Container Styling */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  margin-bottom: 30px;

}

.grid-item {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 70px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item img {
  width: 170px;
  height: auto;
  margin-bottom: 10px;
}

/* Define the keyframes for the background color change */
@keyframes backgroundColorChange {
  0% {
    background-color: transparent;
  }
  100% {
    background: #e1eec3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* Apply the animation on hover */
.grid-item:hover {
  transform: translateY(-10px);
  animation: backgroundColorChange 0.5s forwards;
  box-shadow: 0 10px 20px rgba(204, 213, 220, 0.897);
}

/* Footer Styling */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #e1e1e6;
  padding: 10px 0;
  font-size: 14px;
  position: fixed;
  margin-top: 40px;
  border-radius: 20px;
  width: 100%;
  bottom: 0;
}

.footer:hover {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.footer-item {
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .homepage-container {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item img {
    width: 120px;
  }

  .header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .homepage-container {
    margin-top: 470px;
    margin-bottom: 160px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    padding: 10px;
  }

  .grid-item img {
    width: 100px;
  }

  .footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-size: 20px;
    flex-direction: column;
  }
}
