
/* App.css */
.main-content {
  padding-top: 70px; /* Adjust this based on your navbar height */
  height: calc(100% - 70px); /* Adjust the height of main content */
  overflow-y: h; /* Enable vertical scrolling for main content */
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Ensure it stays on top */
}

html, body {
  height: 100%;
  margin: 0;
  max-width: 3840px; /* 4K width */
  max-height: 2160px; /* 4K height */
  height: 100%;
  margin: 0;
  background: url('../src/assets/Osamedic2.jpeg') no-repeat center center fixed;
  background-size: cover;
  }


@media (max-width: 800px) {
  html, body {
    background: url(https://plus.unsplash.com/premium_photo-1668487826874-ecb21f98bb19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8NGslMjBtZWRpY2FsJTIwYmFja2dyb3VuZCUyMHBpbGxzfGVufDB8fDB8fHww) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
  }
}

@media (max-width: 480px) {
  html, body {
    background: url(https://plus.unsplash.com/premium_photo-1668487826874-ecb21f98bb19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8NGslMjBtZWRpY2FsJTIwYmFja2dyb3VuZCUyMHBpbGxzfGVufDB8fDB8fHww) no-repeat center center fixed;
    background-size: cover;
  }
}
