/* App.css */
.main-content {
  padding-top: 70px; /* Adjust this based on your navbar height */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  background: url(https://cdn.dribbble.com/userupload/14908151/file/original-59116bdcaac0a2942c1ba195a05a9b8a.png?resize=1024x768) no-repeat center center fixed;
  background-size: cover;
}

@media (max-width: 800px) {
  html, body {
    background: url(https://cdn.dribbble.com/userupload/14908151/file/original-59116bdcaac0a2942c1ba195a05a9b8a.png?resize=1024x768) no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  html, body {
    background: url(https://cdn.dribbble.com/userupload/14908151/file/original-59116bdcaac0a2942c1ba195a05a9b8a.png?resize=1024x768) no-repeat center center fixed;
    background-size: cover;
  }
}
