/* global.css */
body {
  padding-top: 70px; /* Adjust this based on your navbar height */
  max-width: 2000px;
  max-height:  auto;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}